body {
    background-color: gainsboro;
}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    padding: 1em; 
}

.display {
    background-color: black;
    padding: 1% 5.5%;
    color: white;
}